.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: rgb(29, 32, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
}

header {
    display: flex;
    flex-direction: row;
}

.header-right {
    margin-left: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.text-theme {
    font-weight: bolder;
}

.btn-theme {
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    position: relative;
    margin-left: 0.5rem;
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.btn-theme::after {
    content: '';
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    background-color: rgb(52, 57, 86);
    top: 0.2rem;
    right: 0.2rem;
    border-radius: 1.5rem;
}

.btn-theme::before {
    content: '';
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    background-color: rgb(52, 57, 86);
    top: 0.2rem;
    left: 0.2rem;
    border-radius: 1.5rem;
}

.header-left h1 {
    margin-bottom: 0;
}

.header-left p {
    margin-top: 0;
    color: hsl(228, 12%, 44%);
    font-weight: bold;
}

.main-up {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 1rem;
}

.main-up div {
    background-color: rgb(37, 43, 67);
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.35rem;
    position: relative;
}

.user {
    flex-direction: row !important;
    justify-content: center;
    font-weight: bold;
    color: hsl(228, 12%, 44%);
    margin-top: 1.5rem;
}

.user img {
    margin-right: 0.5rem;
}

.num-followers {
    font-weight: bolder;
    font-size: 3rem;
    margin: 0.8rem 0;
}

.txt-followers {
    color: hsl(228, 12%, 44%);
    margin-top: 0;
}

.today {
    margin-top: 0;
    color: hsl(163, 72%, 41%);
}

.border-face::before {
    content: '';
    width: 100%;
    background: hsl(208, 92%, 53%);
    height: 0.25rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.border-twitter::before {
    content: '';
    width: 100%;
    background: hsl(203, 89%, 53%);
    height: 0.25rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.border-insta::before {
    content: '';
    width: 100%;
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    height: 0.25rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.border-youtube::before {
    content: '';
    width: 100%;
    background: hsl(348, 97%, 39%);
    height: 0.25rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.overview {
    font-weight: bold;
    font-size: 1.5rem;
}

.main-down {
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    column-gap: 2rem;
    row-gap: 2rem;
}

.main-down div {
    background-color: rgb(37, 43, 67);
    padding: 1rem;
    border-radius: 0.35rem;
}